<main>
  <div class="container">
    <% @blog.each do |blog| %>
      <%= link_to (blog_path(blog)) do %>
        <div class="item card-panel hoverable">
          <h2><%= blog.title %></h2>
          <% if blog.image != "" %>
            <p><img src="<%= blog.image %>"></p>
          <% end %>
          <p><%= blog.content %></p>
          <p><%= l blog.created_at,format: :short %></p>
          <p>posted by:<%= blog.user.nickname %>さん</p>
        </div>
      <% end %>
    <% end %>
    <%= paginate(@blog) %>
  </div>
</main>
