<%= render :partial => "header" %>
<div class="contents row">
  <a href="/">一覧にもどる</a>
  <%= form_with model: @blog,local: true do |f| %>
    <div class="field">
      <%= f.label:"タイトル" %>
      <%= f.text_field :title,placeholder: "タイトルを入力してください",autofocus: true,required: true %>
    </div>
    <div class="field">
      <%= f.label:"image" %>
      <%= f.text_field :image,placeholder: "イメージURLを貼り付けてください" %>
    </div>
    <div class="field">
      <%= f.label:"記事" %>
      <%= f.text_area :content,placeholder: "記事を記入してください",required: true %>
    </div>
    <div class ="actions">
      <%= f.submit "投稿" %>
    </div>
  <% end %>
</div>