<div class="contents row">
  <a href="/">一覧にもどる</a>
  <%= form_for @blog do |f| %>
    <div class="field">
      <%= f.label:"タイトル" %>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label:"image" %>
      <%= f.text_field :image %>
    </div>
    <div class="field">
      <%= f.label:"記事" %>
      <%= f.text_area :content %>
    </div>
    <div class ="actions">
      <%= f.submit "投稿" %>
    </div>
  <% end %>
</div>