<%= render :partial => "header" %>
<main>
  <!-- ブログ詳細 -->
  <div class="container">
    <div class="item card-panel hoverable">
      <h2><%= @blog.title %></h2>
      <% if @blog.image != "" %>
        <p><img src="<%= @blog.image %>"></p>
      <% end %>
      <p><%= @blog.content %></p>
      <p><%= l @blog.created_at,format: :short %></p>
      <p><%= @blog.user.nickname %></p>
      <% if user_signed_in? && current_user.id == @blog.user_id %>
        <ul>
          <li class="blue waves-effect waves-light btn"><%= link_to '編集', "/blogs/#{@blog.id}/edit",class: "white-text", method: :get %></li>
          <li class="blue waves-effect waves-light btn"><%= link_to '削除', "/blogs/#{@blog.id}",class: "white-text", method: :delete %></li>
        </ul>
      <% end %>
    </div>
  </div>
  <!-- コメント一覧 -->
  <div class="container">
    <div class="item card-panel hoverable">
      <h5>コメント一覧</h5>
      <% @comments.each do |comment| %>
        <div class="item card-panel hoverable">
          <p><%= comment.text %></p>
          <p><%= comment.user.nickname %>さん</p>
        </div>
      <% end %>
    </div>
  </div>
  <!-- コメントフォーム -->
  <div class="container">
    <% if current_user %>
      <%= form_with url: "/blogs/#{@blog.id}/comments" do |f| %>
        <div class="field">
          <%= f.label :"コメント" %>
          <%= f.text_area :text,placeholder: "コメントを入力してください"%>
        </div>
        <div class="actions">
          <%= f.submit "投稿" %>
        </div>
      <% end %>
    <% end %>
  </div>
</main>